body{
    background-position: unset;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    background-size: cover;
    
}
#tapu {
    width: 590px;
    height: 65px;
    transform: rotate(-0.047deg);
    flex-shrink: 0;
    text-align: center;
    color: #FFF;
    font-family: "Kode Mono";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
*{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.topo{
    width:100%;
    height:500px;
    display: block;
    object-fit: cover;

}